<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBVerbindung" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\homepc\source\repos\tool4kr\consolen_anwendung\DBTest\bin\Debug\test.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>