<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OneClickForAppBindingV3">
                    <security mode="Transport" />
                </binding>
                <binding name="OneClickForAppBindingV31" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://internetmarke.deutschepost.de:443/OneClickForAppV3/OneClickForAppServiceV3" binding="basicHttpBinding" bindingConfiguration="OneClickForAppBindingV3" contract="webservice.OneClickForAppPortTypeV3" name="OneClickForAppPortV3" />
        </client>
    </system.serviceModel>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data></configuration>